body{
    background-color: slategray;
    color: white;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.main-info,.thrusters_count,.output_div{
    display: inline-block;
}
.lbl{
    text-align: right;
    width: 100px;
    white-space: nowrap;
}
.thruster_count>input,.output_div>span{
    width: 100%;
}
#calculate{
    width: 100%;
}
.output-label{
    font-weight: bold;

}
